/* CSS Reset */
* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

/* # Generics */
img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
}

i {
    color: rgba(0, 0, 0, 0.7);
}

/* # Utils */
.bg-color-grey {
    background-color: rgb(250, 250, 250);
}

.bg-color-azure {
    background-color: rgb(112, 187, 230);
}

/* Body & Main */
body {
    background-image: url(../img/sfondo_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

main {
    width: 100%;
    height: calc(100vh - 3rem);
    border-radius: 10px;
    display: flex;
}

/* Main Left & Right | Navbar common specs*/

.main-left nav,
.main-right nav {
    height: 60px;
}

/* * --------------------------------------
/* * Main Left */
/* * --------------------------------------

/* * Navbar */
.main-left {
    background-color: white;
}

.nav-left img {
    width: 30px;
    height: 30px;
}

/* * Search section */
.form-search {
    position: relative;
    flex-grow: 1;
}

.fa-magnifying-glass {
    position: absolute;
    top: 11px;
    left: 10px;
}

.form-search input {
    padding-left: 3rem;
    font-size: 0.9rem;
}

.bi.bi-filter {
    font-size: 1.5rem;
}

/* * Notifications alert section */
.notifications-bell {
    background-color: white;
    border: 10px solid white;
    border-radius: 50%;
}

.notifications-alert .center h6,
p {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

/***** EFFECTS *****/
.nav-right ul li:hover a {
    filter: contrast(0);
}

section.search a:hover {
    filter: contrast(0);
}